<!--
    filename:index.html
    date:20200723
    modified by:elegance
-->
<!DOCTYPE html>
<head>
    <title>Time Capsule</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"type="image/vnd.microsoft.icon">
    <meta name="keywords" content="Time Capsule" />
    <meta name="description" content="Time Capsule" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/branch.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="home-main">
    <img class="logo-big" src="/static/img/logo_big.png" />
    <h1 class="title">Time Capsule</h1>
    <div class="action">
        <a class="put" href="/put"><span>Put</span></a>
        <a class="open" href="/open"><span>Open</span></a>
    </div>
    <div class="home-footer">
        <a href="/introduce">What is Time Capsule?</a> ·
        <a href="http://p.timepill.net/">web前端设计参考于此</a>
    </div>
</div>
</body>
</html>