<!--
    filename:introduce.html
    date:20200723
    modified by:elegance
-->
<!DOCTYPE html>
<head>
    <title>Open Time Capsule</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico"type="image/vnd.microsoft.icon">
    <meta name="keywords" content="Time Capsule" />
    <meta name="description" content="Time Capsule" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/branch.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script type="text/javascript" src='../static/js/time.js'></script>
</head>
<body>
<div class="header">
    <div class="container">
        <a class="logo" href="/">Time Capsule</a>
        <ul class="nav">
            <li><a href="/">Home Page</a></li>
            <li><a href="/put">Put</a></li>
            <li class="active"><a href="/open">Open</a></li>
        </ul>
	<ul class="nav nav-user">
		<li><a href="http://p.timepill.net/">web前端设计参考于此</a></li>
	</ul>
    </div>
</div>
<div class="container">
    <h1 class="page-header">Open Time Capsule</h1>
    <div class="main">
        <form method="post" style="margin-bottom: 30px;">
            <label>Capsule Key：
                <input name="key" value="2233-2233-2233-2233-2233" style="width:220px;" type="text">
                <a href="http://timecapsule.lizesen.xyz/introduce"><input type="button" style="padding:7px;" value="Open Time Capsule"></a>
            </label>
        </form>
                                <div class="pill">
            <h2>At 2020-07-23 00:22:33 , Time manager told:</h2>
            <br />
            <div class="content">
                <pre><h1>帮助</h1>
<p>欢迎你访问“TimeCapsule”</p>
<p><font color="#ee1111"><span class="q">1、什么是“TimeCapsule”。</span><br /></font>“TimeCapsule”是一个给未来的留言板，你可以为自己，朋友，爱人，家人，或者任何人留下你现在想对他们说的话，并且设置一个未来能够打开“TimeCapsule”的时间，这样他们就能在未来的某天通过网站给你的密码来这里打开“TimeCapsule”,读到你的留言。</p>
<p>“TimeCapsule” <br />可以是一个预言<br />可以是一篇日记<br />可以是一句牢骚<br />可能只是一句“我爱你” <br />请发挥你的想象力使用它吧。</p>
<p><font color="#ee1111"><span class="q">2、你已经有了一个“密码（KEY）”了么？</span><br /></font>如果你已经得到朋友给你的KEY,请点击主页上“OPEN”，输入你得到的KEY,然后在某个时间打开朋友留给你的TimeCapsule。</p>
<p><font color="#ee1111"><span class="q">3、你留下的邮箱有什么用？</span><br /></font>时空飞船会在胶囊开启时间的附近一段时间，通过邮件形式提醒你。</p>
<p><font color="#ee1111"><span class="q">4、你想留下一个“TimeCapsule”？</span><br /></font>如果你想留下一个“TimeCapsule”，请点击主页上的“PUT”，并且按照提示填写你的信息，之后你就能获得一个“KEY”了，将这个“KEY”和网址发给你的朋友，朋友就能在未来你限定的时间之后提取胶囊了。</p>
<p><font color="#ee1111"><span class="q">5、你想删除一个“TimeCapsule”？</span><br /></font>对不起，任何添加的“TimeCapsule”都是不可撤销的。</p>
<p><font color="#ee1111"><span class="q">6、你担心隐私安全？</span><br /></font>请放心，时空飞船能确保您的信息保密，任何隐私不会受到威胁。当然我们也为你提供了可选项，使用一串对你而言意义非凡的密码来加密它，该过程全在你的电脑上完成，安全性更高，当然你要自己保存这串密码。</p></pre>
            </div>
        </div>
            </div>
</div>
</body>
</html>