<!--
    filename:put.html
    date:20200721
    modified by:elegance
-->
<!DOCTYPE html>
<head>
    <title>Put Time Capsule</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico"type="image/vnd.microsoft.icon">
    <meta name="keywords" content="Time Capsule" />
    <meta name="description" content="Time Capsule" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/branch.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script type="text/javascript" src='../static/js/crypto.js'></script>
    <script type="text/javascript" src='../static/js/encrypt.js'></script>
    <script type="text/javascript" src="../static/js/jquery-1.7.2.js"></script>
</head>
<body>
<div class="header">
    <div class="container">
        <a class="logo" href="/">Time Capsule</a>
        <ul class="nav">
            <li><a href="/">Home Page</a></li>
            <li class="active"><a href="/put">Put</a></li>
            <li><a href="/open">Open</a></li>
        </ul>
        <ul class="nav nav-user">
            <li><a href="http://p.timepill.net/">web前端设计参考于此</a></li>
        </ul>
    </div>
</div>
{% if content_type == 'put' %}
<div class="container">
    <h1 class="page-header">Put Time Capsule</h1>
    <div class="main">
        <form method="post">
            <label>Your name</label>
            <div class="err">Name must be filled in.</div>
                <input name="name" value="" style="width:220px" type="text">
            <label>Your Mailbox</label>
            <div class="err">Mailbox must be filled in.</div>
                <input name="email" value="" style="width:220px" type="text">
            <span class="tips">An e-mail would be send to you when time is up.</span>
            <label>Opening Time</label>
                <input name="time" value="2020-07-21 00:53:18" style="width:220px" type="text"> 
            <span class="tips">Before the opening time, the contents of the capsule are invisible.</span>
            <label>Capsule Contents</label>
            <div class="err">The content must be filled in.</div> 
                <textarea id="source" name="content" value="" style="margin-bottom: 0" rows="8" cols="50"></textarea>
            <span class="tips">The content of the capsule cannot exceed 5000 words.</span>
            <label style="margin-top: 10px;">Unexpired Reminder</label>
            <div class="err">The content must be filled in.</div>
                <textarea name="tips" value="" style="margin-bottom: 0"rows="3" cols="50"></textarea>
            <span class="tips">Open the capsule before the opening time and you will see a prompt message.</span>
            <p style="margin-top: 20px;">
                <input type="submit" onclick="this.disabled = true; this.value = 'Putting……';form.submit();return false;" value="Put Capsule">
            </p>
        </form>
        <form>
            <label style="margin-top: 10px;">Optional: Encrypt Key</label>
                <input id="encryptkey" value="" style="width:220px;" type="text">
                <input type="button" value="Encrypt" onclick="javascript:encrypt();" style="margin-top:10px;"><br>
            <span class="tips">Encrypt the above content through Encrypt Key.</span>
        </form>
    </div>
</div>
{% elif content_type == 'put_done'%}
<div class="container">
    <h1 class="page-header">Successfully</h1>
    <div class="main">
        <form>
            <label>Capsule Key</label>
            <input type="text" style="width:220px;" value="0fb6-55ee-60ad-5fc9-858a">
            <span style="padding:8px;">Please take good care of your Key.</span>
        </form>
    </div>
</div>
{% endif %}
</body>
</html>