<!--
    filename:put_done.html
    date:20200721
    modified by:elegance
-->
<!DOCTYPE html>
<head>
    <title>Put Time Capsule</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico"type="image/vnd.microsoft.icon">
    <meta name="keywords" content="Time Capsule" />
    <meta name="description" content="Time Capsule" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/branch.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<div class="header">
    <div class="container">
        <a class="logo" href="/">Time Capsule</a>
        <ul class="nav">
            <li><a href="/">Home Page</a></li>
            <li class="active"><a href="/put">Put</a></li>
            <li><a href="/open">Open</a></li>
        </ul>
        <ul class="nav nav-user">
            <li><a href="http://p.timepill.net/">web前端设计参考于此</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 class="page-header">Successfully</h1>
    <div class="main">
        <form>
            <label>Capsule Key</label>
            <input type="text" style="width:220px;" value="0fb6-55ee-60ad-5fc9-858a">
            <span style="padding:8px;">Please take good care of your Key.</span>
        </form>
    </div>
</div>
</body>
</html>